<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension point="org.eclipse.ui.commands">
      <category name="SmartClip" id="com.larsch.linecopypaste.commands.category"/>
      <command name="LineCopyPaste Cut" categoryId="com.larsch.linecopypaste.commands.category" id="com.larsch.linecopypaste.commands.cut"/>
      <command name="LineCopyPaste Copy" categoryId="com.larsch.linecopypaste.commands.category" id="com.larsch.linecopypaste.commands.copy"/>
      <command name="LineCopyPaste Paste" categoryId="com.larsch.linecopypaste.commands.category" id="com.larsch.linecopypaste.commands.paste"/>
   </extension>

   <extension point="org.eclipse.ui.handlers">
      <handler commandId="com.larsch.linecopypaste.commands.cut" class="com.larsch.linecopypaste.handlers.CutHandler"/>
      <handler commandId="com.larsch.linecopypaste.commands.copy" class="com.larsch.linecopypaste.handlers.CopyHandler"/>
	  <handler commandId="com.larsch.linecopypaste.commands.paste" class="com.larsch.linecopypaste.handlers.PasteHandler"/>
   </extension>
	  
   <extension point="org.eclipse.ui.bindings">
      <key commandId="com.larsch.linecopypaste.commands.cut" contextId="org.eclipse.ui.textEditorScope" sequence="M1+X" schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
      <key commandId="com.larsch.linecopypaste.commands.copy" contextId="org.eclipse.ui.textEditorScope" sequence="M1+C" schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
      <key commandId="com.larsch.linecopypaste.commands.paste" contextId="org.eclipse.ui.textEditorScope" sequence="M1+V" schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
   </extension>
</plugin>
